<div class="flex flex-wrap">
  <div class="w-full lg:w-12/12 px-4">
    <div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-gray-800 text-xl font-bold">Nouvelle opportunité</h6>
     
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form  [formGroup]="firstFormGroup">
      <h6 class="text-gray-500 text-sm mt-3 mb-6 font-bold uppercase">
        Information générale
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
             Titre
            </label>
            <input
             formControlName="Title" required [(ngModel)]="titremodel" [ngModelOptions]="{standalone: true}"
            
              type="text"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
             
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Required skills
            </label>
            <input  formControlName="requiredSkills" required [(ngModel)]="skillsmodel" [ngModelOptions]="{standalone: true}"
              type="email"
             
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
            />
          </div>
        </div>
      
      </div>

      <hr class="mt-6 border-b-1 border-gray-400" />










      <h6 class="text-gray-500 text-sm mt-3 mb-6 font-bold uppercase">
        Information de contact
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Salaire
            </label>
            <input formControlName="price" [(ngModel)]="pricemodel" [ngModelOptions]="{standalone: true}"
           
              type="text"

              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              
            />
          </div>
        </div>
       <!--  societeeeeeeee -->
   
         <div class="w-full lg:w-4/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Societe
            </label>
     
        <input matInput    class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
        placeholder="Societe"
        aria-label="Societe"
        [matAutocomplete]="auto"
        [formControl]="stateCtrl" formControlName="business" (change)="test(event)" [(ngModel)]="businessmodel" [ngModelOptions]="{standalone: true}"  required >
 <mat-autocomplete #auto="matAutocomplete" >
   <mat-option *ngFor="let op of filteredOptions | async"  [value]="op.id"  >
     <span>{{op.name}}</span> 
   
   </mat-option>
 </mat-autocomplete>
</div>
</div>
<!-- (change)="changevalue(event.target.option.value)" -->
<!-- <select name="societe"  [(ngModel)]="businessmodel">
  <option *ngFor="let x of busniesses" [ngValue]="x.id">{{x.name}}</option>
</select> -->
      

        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              date cloture
            </label>
           
  
  <input matInput [matDatepicker]="picker" formControlName="closureDate" [(ngModel)]="dateclo" [ngModelOptions]="{standalone: true}">
  <mat-datepicker-toggle matSuffix [for]="picker" >
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

          </div>
        </div>


      </div>
 
      <hr class="mt-6 border-b-1 border-gray-400" />

      <h6 class="text-gray-500 text-sm mt-3 mb-6 font-bold uppercase">
        Descrption de l'offre
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Description 
            </label>
            <textarea
              type="text" formControlName="description" [(ngModel)]="descmodel" [ngModelOptions]="{standalone: true}"
              
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              rows="4"
            >
                  
                </textarea
            >
          </div>
        </div>
      </div>
    </form>
    <button
    (click)="submit()" style="margin-left: 75%;"
    class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
    type="button"
  >
   Enregistrer l'offre
  </button>
  </div>
</div>

  </div>
  <!-- <div class="w-full lg:w-4/12 px-4">
    <app-card-profile></app-card-profile>
  </div> -->
</div>
