<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
            [ngClass]="color === 'light' ? 'bg-white' : 'bg-white'">
            <div class="rounded-t bg-white mb-0 px-6 py-6">
                <div class="text-center flex justify-between">
                    <h2 class="text-gray-800 text-xl font-bold" style="color: rgb(34, 67, 129)">Détail offre:</h2>
                    <!--    <button
      [routerLink]="['/admin/newOpportunity']"
        class="bg-blue-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="button"
      >
        NEW
      </button> -->
     
                </div>
            </div>
            <div class="container ">
                <div class="row ">
                    <div class="col-sm-2">
                    </div>

                    <div class="col-sm-8 ">

                        <h1 style="color: #c94f17; font-weight: 500;"> &nbsp; &nbsp;  &nbsp; Poste : {{title}}</h1>
                        <h3>Nom de l'employeur: <b> {{recruteur}} </b> </h3>
                        <h3>Date d'expiration<b> {{closureDate}} </b> </h3>                    
                        <h3>lieu de travail: <b> {{adresse}}</b> </h3>
                        <h3>salaire: <b> {{price}} </b> </h3>
                      

                        <h1> <b>Description</b> </h1>
                    </div>


                    <div class="col-sm-2">
                    </div>
                </div>

              <div class="container">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">  
                        <p>
                          {{desc}}
                      <br><b style="font-size: medium;">Exigences de l'emploi:</b><br>
                      {{requiredSkills}}
                      <br><b style="font-size: medium;">Préferences de l'emploi:</b><br>
                      {{preferencesSkills}}
                      </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
              </div>

            </div>
            <br>
            <div class="footer fixed-bottom">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"></div>
                    <div class="col-sm-3 center centranas"> <a href="#" class="btn"  routerLink="/admin/opportunities" (click)="apply()" style="background-color: #3182CE; color: white;">Postuler maintenant</a></div>
                </div>
            </div>