<div class="flex flex-wrap mt-4" >
  <div class="w-full mb-12 px-4">
<div
class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
[ngClass]="color === 'light' ? 'bg-white' : 'bg-white'"
>
<div class="rounded-t bg-white mb-0 px-6 py-6">
  <div class="text-center flex justify-between">
    <h2 class="text-gray-800 text-xl font-bold">Opportunities </h2>
    <button
    [routerLink]="['/admin/newOpportunity']"
      class="bg-blue-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
      type="button"
    >
      Ajouter une nouvelle offre
    </button>
  </div>
</div>

<div class="block w-full overflow-x-auto"  >
  <!-- Projects table -->
  <table class="items-center w-full bg-transparent border-collapse"  >
    <thead>
      <tr>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-gray-100 text-gray-600 border-gray-200'
              : 'bg-gray-100 text-gray-600 border-gray-200'
          "
        >
          Societe
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-gray-100 text-gray-600 border-gray-200'
              : 'bg-gray-100 text-gray-600 border-gray-200'
          "
        >
          Titre
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-gray-100 text-gray-600 border-gray-200'
              : 'bg-gray-100 text-gray-600 border-gray-200'
          "
        >
          Status
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-gray-100 text-gray-600 border-gray-200'
              : 'bg-gray-100 text-gray-600 border-gray-200'
          "
        >
          nombre de candidats
        </th>
        <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
        [ngClass]="
          color === 'light'
            ? 'bg-gray-100 text-gray-600 border-gray-200'
            : 'bg-gray-100 text-gray-600 border-gray-200'
        "
      >
        liste des  candidats 
      </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-gray-100 text-gray-600 border-gray-200'
              : 'bg-gray-100 text-gray-600 border-gray-200'
          "
        >
          date début
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-gray-100 text-gray-600 border-gray-200'
              : 'bg-gray-100 text-gray-600 border-gray-200'
          "
        >
          date Fin
        </th>
        <!-- actionnnnns -->
       <!--  <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          [ngClass]="
            color === 'light'
              ? 'bg-gray-100 text-gray-600 border-gray-200'
              : 'bg-gray-100 text-gray-600 border-gray-200'
          "
        >
        
        Actions
      </th> -->
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let op of opportunities;let su of sub;let i = index">
        <th
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left flex items-center"
        >
          <img
            src="assets/img/bootstrap.jpg"
            class="h-12 w-12 bg-white rounded-full border"
            alt="..."
          />
          <span
            class="ml-3 font-bold"
            [ngClass]="color === 'light' ? 'text-gray-700' : 'text-gray-700'"
          >
            {{op.postedFor.name}}
          </span>
        </th>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
        >
          {{op.title}}
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
        >
          <i class="fas fa-circle text-orange-500 mr-2"></i> En cours
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
        >
          <div  class="flex">
          
           
            {{op.numberCandidate}}
          </div>
        </td>
        <td 
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
      >
        <div  class="flex">
          <button class="btn btn-primary" (click)="popUp(i)"  > <i> </i>></button>
        <!-- lenna liste des candidats -->
         
        </div>
      </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
        >
          {{op.closureDate}}
        </td>
        <td
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
      >
        {{op.closureDate}}
      </td>
       <!--  <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-right"
        >
        
        <button data-toggle="tooltip" (click)="Store()" data-placement="top" title="Store Opportunity" class="btn"><i class="fa fa-trash"></i></button>
        <button data-toggle="tooltip" (click)="Store()" data-placement="top" title="Store Opportunity" class="btn"><i class="fas fa-edit"></i></button>
      

      
        </td> -->
      </tr>
      
    </tbody>
  </table>
</div>

</div>
  </div>


  
</div>












<!-- 
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #223268;">
        <h4 class="modal-title"  style="color: white;">Bénéficiaires</h4>
        <button type="button" class="close" (click)="primaryModal.hide()"  aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1">
      <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
      <mdb-card-body>
      <mdb-card-title>
      <h4>{{card.title}}</h4>
      </mdb-card-title>
      <p>{{card.description}}</p>
      <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
      </mdb-card-body>
      </mdb-card>
      </div>
      </mdb-carousel-item>
      </mdb-carousel>
      


      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>


 -->


<!--  <ng-template #template style="background-color: white;">
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="font-weight: bold;"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   lalalal
</div>
</ng-template>

 -->






















 <div class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       yallla
     </div>
   </div>
 </div>


