<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          
          <hr class="mt-6 border-b-1 border-gray-400" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class=" text-center mb-3 font-bold">
            <strong> Se Connecter à "Khaddamni" </strong>
            
          </div>
          <form>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email
              </label>
              <input
              required 
              name="m"
              #m="ngModel"
              [(ngModel)]="userName"
              [ngModelOptions]="{standalone: true}"
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Email"
              />
              
             
            <div class="alert alert-danger" *ngIf=" m.touched && !m.valid">
                <div *ngIf="m.errors.required"> Champ Email est obligatoire </div>
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Mot de passe
              </label>
              <input
              required 
              name="p"
              #p="ngModel"
                type="password"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="password"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Password"
              />
              
        <div class="alert alert-danger" *ngIf=" p.touched && !p.valid">
                <div *ngIf="p.errors.required"> Champ mot de passe est obligatoire </div>
              </div>
            </div>
            
            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox text-gray-800 ml-1 w-5 h-5 ease-linear transition-all duration-150"
                />
                <span class="ml-2 text-sm font-semibold text-gray-700">
                  Se souvenir de moi
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button
              (click)="Submit()"
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
              >
                Se connecter
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap mt-6 relative">
        <div class="w-1/2">
          <a href="javascript:void(0)" class="text-gray-300">
            <small>Mot de passe oublié?</small>
          </a>
        </div>
        <div class="w-1/2 text-right">
          <a [routerLink]="['/auth/register-candidat']" class="text-gray-300">
            <small>Nouveau condidat ?</small>
          </a>
          <br>
          <a [routerLink]="['/auth/register']" class="text-gray-300">
            <small>Nouvelle societé?</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

