.elevate{
   
    border: 1px solid #b6b7b8;
    color: black;
    width: 90%;
    margin: auto;
  padding: 10px;
  
  border-radius: 2px;
}
.elevate:hover{
    background-color: 9ebfe0;
    color: black;
    padding: 10px;
    border: 1px solid #9ebfe0;
    box-shadow:  -1px 1px #9ebfe0,
         -1px 1px #9ebfe0,
         -1px 1px #9ebfe0,
         -2px 2px #9ebfe0,
         -2px 2px #9ebfe0;
}
.fine{
    font-weight:100;
}