<div class="flex flex-wrap mt-4">
  <div class="w-full mb-12 px-4">
<div
class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
[ngClass]="color === 'light' ? 'bg-white' : 'bg-white'"
>
<div class="rounded-t bg-white mb-0 px-6 py-6">
  <div class="text-center flex justify-between">
    <h2 class="text-gray-800 text-xl font-bold" style="color: rgb(34, 67, 129)">Dernières Offres d'emploi</h2>
 <!--    <button
    [routerLink]="['/admin/newOpportunity']"
      class="bg-blue-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
      type="button"
    >
      NEW
    </button> -->
  </div>
</div>

<!-- dum data-->

<br><br>
  
<!-- <div class="container ">
  <div class="row elevate">
    <div class="col-sm-2">
    </div>
      
    <div *ngFor="let op of opportunities;let i = index" class="col-sm-8 ">
          
          <h1 style="color: #c94f17"> Job Title: {{op.title}}</h1>
          <p>
              250 char max hne &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat exercitationem suscipit
               tempora assumenda labore perferendis, ullam doloribus tenetur? Quas nostrum corporis explicabo
                excepturi voluptas consequatur similique enim non cumque quia?
          </p>      
              <table>
                <tr>
                    <td><img style="height: 20px;" src="../../../../assets/img/adressicona.svg" /></td>
                    <td class="fine"> &nbsp;  &nbsp; {{op.postedFor.adresse}}</td> 
                </tr>
              </table>       
          </div>

        
    <div class="col-sm-2">
        <h3>Délai:</h3>
        <br>
        <h4>12-12-2021</h4>
        <br><br>
      <a href="#" class="btn"  routerLink="/admin/more"  style="background-color: #3182CE; color: white;">Voir plus</a>
    </div>
  </div>
</div> -->

<div class="container">

  <div class="container" *ngFor="let op of opportunities;let i = index">
    <div class="row elevate">
      <div class="col-sm-2">
      </div>
        
      <div style="border: black ;" class="col-sm-8">
            
            <h1 style="color: #c94f17"> Job Title: {{op.title}}</h1>
            <p>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                {{op.postedFor.name}}
                </p>      
                <table>
                  <tr>
                      <td><img style="height: 20px;" src="../../../../assets/img/adressicona.svg" /></td>
                      <td class="fine"> &nbsp;  &nbsp; {{op.postedFor.adresse}} </td> 
                  </tr>
                </table>       
            </div>
  
      <div class="col-sm-2">
          <h3>Délai:</h3>
          <br>
          <h4> {{op.closureDate}}</h4>
          <br><br>
        <a href="#" class="btn "style="background-color: #3182CE; color: white;" (click)="voirPlus(i)" [routerLink]="['/admin/more']">Voir plus</a>
      </div>
    </div>
  </div>


  <br><br><br>
</div>

<!-- dum data-->


<!-- <div class="block w-full overflow-x-auto">
  <div *ngFor="let op of opportunities;let i = index" class="box" style="  transition: box-shadow .3s;
  width: 800px;
  height: 100px;
  margin: 50px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;">

 {{op.title}}
 {{op.postedFor.name}}
 {{op.postedFor.adresse}}
 {{op.closureDate}}

 
 

 <button style="margin-left: 87%;"

   class="bg-blue-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
   type="button"   [routerLink]="['/admin/detail']" (click)="voirPlus(i)"
 >
   Voir plus
 </button>

  </div> 
</div> -->
</div>
  </div>  
</div>
