	.bg {
        background-image: url('src\assets\img\bg.png'); 
        height: 100%; 
		}
        
        .all{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .mid{
            color: white;
            font-size: 450%;
        }
        
        .gris{
            color: rgb(201, 202, 216);
            font-size: 150%;
        } .gris-asghar{
            color: rgb(201, 202, 216);
            font-size: 100%;
        }
        .homeimage{
            height: 85%;
        }
        @media screen and (max-width:1000px) {  
            .homeimage {
              display: none;
            }
          }
       
       .bgdarkblue{
           background-color: rgb(48, 67, 99);
           color: white;
       }
       .bgdarkblue2{
        background-color: rgb(81,112,165);
        color: white;
    }
    .partner{
        height: 102555;
    }