<div class="bg all">
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" routerLink="" > 
          <div class="logo-image">
            <img src="./../../../assets/img/LogoKhadamni copy.png" class="img-responsive" alt="Khadamni.tn " style="max-height: 100px;">
    </div></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
        
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a  routerLink="" class="nav-link">Accueil</a></li>
	          <li class="nav-item"><a  href="https://jcirasjebel.tn/" target="_blank" class="nav-link">JCI Ras Jebel</a></li>
	          <li class="nav-item"><a  routerLink="/auth/login" class="nav-link">Se Connecter</a></li>
	          <li class="nav-item cta"><a routerLink="/auth/register-candidat" class="nav-link"><span>Créer compte</span></a></li>
	          <li class="nav-item"><a routerLink="/auth/register" class="nav-link ">Société?</a></li>
            </ul>
	      </div>
	    </div>
	  </nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <img  class="homeimage " src="./../../../assets/img/sayyed.png"/>

          </div>
          <div class="col-lg-4">
              <div><br><br><br>
                <span class="gris">Khaddamni.tn</span>
	            <div class="mid">
                    <br><br> Ras Jebel<br><br><br><br>Opportunités<br><br><br><br>Maintenant<br><br>
	            </div><br>
                    <p class="gris-asghar"> Khaddamni votre chemin vers le succès</p>
	            <p><a routerLink="/auth/register-candidat" class="btn btn-secondary px-4 py-3 " style="color: white;">Créer compte maintenant!</a></p>
	         
              </div>
          </div>
        </div>       
      </div>
    </div>
    
    <section class="ftco-section ftco-partner bgdarkblue2">
    	<div class="container ">
    		<div class="row">
    			<div class="col-sm ">
    				<a href="https://www.facebook.com/jci.rasjebel" target="_blank"  class="partner"><img src="./../../../assets/img/partner1.png" class="" ></a>
    			</div>
    			<div class="col-sm ">
    				<a href="#" class="partner"><img src="./../../../assets/img/partner (1).webp" class="" ></a>
    			</div>
    			<div class="col-sm ">
    				<a href="#" class="partner"><img src="./../../../assets/img/partner (5).webp" class="" ></a>
    			</div>
    			<div class="col-sm ">
    				<a href="#" class="partner"><img src="./../../../assets/img/partner (4).webp" class="" ></a>
    			</div>
    			<div class="col-sm ">
    				<a href="#" class="partner"><img src="./../../../assets/img/partner (3).webp" class="" ></a>
    			</div>	
                <div class="col-sm ">
    				<a href="#" class="partner"><img src="./../../../assets/img/partner (2).webp" class="" ></a>
    			</div>
    		</div>
    	</div>
    </section>
    
    
    
    
    
    <!-- Footer -->
    <footer class="bgdarkblue text-center ">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- insta -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/jcirasjebel/" target="_blank" style=" width: 50px;" role="button">
            <img src="../../../assets/img/instaicon.png" style="height: 25px; "></a>
   
    
          <!-- fb -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/jci.rasjebel" target="_blank" style=" width: 50px;" role="button">
            <img src="../../../assets/img/fbicon.png" style="height: 25px; "></a>
        </section>
        <!-- Section: Social media -->

    
        <!-- Section: Text -->
        <section class="mb-4">
          <p>
            Ce projet a été produit avec l'aide financière de l’Agence Italienne de Coopération au 
            Développement (AICS), la Regione Emilia Romagna et CEFA en partenariat avec CCDE.
             Le contenu de cette platforme relève de la seule responsabilité de JCI Ras Jebel et 
             ne peut en aucun cas être considéré comme reflétant la position de l’Agence Italienne 
             de Coopération au Développement (AICS), la Regione Emilia Romagna, CEFA et CCDE
          </p>
        </section>
        <!-- Section: Text -->
    
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">   
              <ul class="list-unstyled mb-0">
                <li> 
                </li>
              </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright JCI Ras Jebel:
        <a class="text-white">Amira Larafa, Anas Gara</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->