<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
  <div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-white'"
  >
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-gray-800 text-xl font-bold">détail de l'offre</h6><div class="block w-full overflow-x-auto">
          <Br>
    <div  class="box" style="  transition: box-shadow .3s;
    width: 600px;
    height: 100px;
    margin: 50px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;">
    <h3> Description de l'offre</h3>
 {{desc}}
{{closureDate}}
{{requiredSkills}}
{{preferencesSkills}}
{{price}}
   <button style="margin-left: 87%;"
  
     class="bg-blue-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
     type="button" 
   >
     Postuler
   </button>
  
    </div> 
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  