<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
        <div class="rounded-t mb-0 px-6 py-6">

          <hr class="mt-6 border-b-1 border-gray-400" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-black-500 text-center mb-3 font-bold">
            <strong>Créer un compte pour votre société <br> maintenant à Khaddamni.tn </strong>
          </div>
          <form>
            <div class="relative w-full mb-3">
              <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                Prénom
              </label>
              <input type="email" [(ngModel)]="fname" required minlength="3" maxlength="30" name="firstname"
                #firstname="ngModel" (change)="log(firstname)" [ngModelOptions]="{standalone: true}"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Prénom" />
              <div class="alert alert-danger" *ngIf=" firstname.touched && !firstname.valid">
                <div *ngIf="firstname.errors.required"> Champ prénom est obligatoire </div>
                <div *ngIf="firstname.errors.minlength"> Champ prénom doit avoir 3+ lettres </div>
                <div *ngIf="firstname.errors.maxlength"> Champ prénom doit avoir maximum de 30 lettres </div>
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                Nom
              </label>
              <input type="email" [(ngModel)]="lname" required name="lastname" #lastname="ngModel" minlength="2"
                (change)="log(lastname)" [ngModelOptions]="{standalone: true}"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Nom" />
              <div class="alert alert-danger" *ngIf=" lastname.touched && !lastname.valid">

                <div *ngIf="lastname.errors.required"> Champ nom est obligatoire </div>
                <div *ngIf="lastname.errors.minlength"> Champ nom doit avoir 2+ lettres </div>
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                Numéro mobile
              </label>
              <input type="email" [(ngModel)]="numTel1" required name="tel" #tel="ngModel" (change)="log(tel)"
                minlength="8" [ngModelOptions]="{standalone: true}"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Numéro mobile" />

              <div class="alert alert-danger" *ngIf=" tel.touched && !tel.valid">

                <div *ngIf="tel.errors.required"> Champ numéro telephone est obligatoire </div>
                <div *ngIf="tel.errors.minlength"> Champ numéro telephone doit avoir 8+ chiffres </div>
              </div>
            </div>
            <div class="relative w-full mb-3">
              <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                Nom d'utilisateur
              </label>
              <input type="email" required name="username" #username="ngModel" (change)="log(username)"
                [(ngModel)]="login" [ngModelOptions]="{standalone: true}"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Nom d'utilisateur" />

              <div class="alert alert-danger" *ngIf=" username.touched && !username.valid">

                <div *ngIf="username.errors.required"> Champ nom d'utilisateur est obligatoire </div>
              </div>
            </div>
            <div class="relative w-full mb-3">
              <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                Adresse Email
              </label>
              <input type="email" required name="mail" #mail="ngModel" (change)="log(mail)" [(ngModel)]="email"
                minlength="9" [ngModelOptions]="{standalone: true}"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Adresse Email" />
              <div class="alert alert-danger" *ngIf=" mail.touched && !mail.valid">

                <div *ngIf="mail.errors.required"> Champ adresse email est obligatoire </div>
                <div *ngIf="mail.errors.minlength"> Champ adresse email doit être valide </div>
              </div>
            </div>



            <div class="relative w-full mb-3">
              <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="grid-password">
                Mot de passe
              </label>
              <input type="password" required name="pass" #pass="ngModel" (change)="log(pass)" [(ngModel)]="password"
                minlength="8" [ngModelOptions]="{standalone: true}"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                placeholder="Mot de passe" />
              <div class="alert alert-danger" *ngIf=" pass.touched && !pass.valid">

                <div *ngIf="pass.errors.required"> Champ mot de passe est obligatoire </div>
                <div *ngIf="pass.errors.minlength"> Champ mot de passe doit avoir 8 + symboles </div>
              </div>
            </div>



            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input id="customCheckLogin" type="checkbox"
                  class="form-checkbox text-gray-800 ml-1 w-5 h-5 ease-linear transition-all duration-150" />
                <span class="ml-2 text-sm font-semibold text-gray-700">
                  J'accepte
                  <a href="javascript:void(0)" class="text-red-600">
                    Les conditions d'utilisation
                  </a>
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button (click)="register()"
              
              [disabled]="( firstname.valid && lastname.valid && tel.valid && mail.valid && username.valid && pass.valid )? false:true"
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button">
                Créer compte pour société
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
