<!-- <div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-grow flex-1">
        <h6 class="uppercase text-gray-500 mb-1 text-xs font-semibold">
          Performance
        </h6>
        <h2 class="text-gray-800 text-xl font-semibold">
          Total orders
        </h2>
      </div>
    </div>
  </div>
  <div class="p-4 flex-auto">
     <div class="relative" style="height: 350px;">
      <canvas id="bar-chart"></canvas>
    </div> 
  </div>
</div>
 -->