<nav 
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-no-wrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-no-wrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/']"
      class="md:block text-left md:pb-2 text-gray-700 mr-0 inline-block whitespace-no-wrap text-sm uppercase font-bold p-4 px-0"
    >
       <span class="hidden sm:block">
        <img src="../../../assets/img/LogoKhadamni copy.png" style="height: 50%;width: 50%;">
        KHADAMNI 
      </span>
    </a>
    <!-- User -->
    
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-gray-300"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              class="md:block text-left md:pb-2 text-gray-700 mr-0 inline-block whitespace-no-wrap text-sm uppercase font-bold p-4 px-0"
            >
              Khaddamni.tn
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- For
      <form class="mt-6 mb-4 md:hidden">
        <div class="mb-3 pt-0">
          <input
            type="text"
            placeholder="Search"
            class="px-3 py-2 h-12 border border-solid border-gray-600 placeholder-gray-400 text-gray-700 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
          />
        </div>
      </form>m -->

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6 
        class="md:min-w-full text-gray-600 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Khadamni
      </h6>
      <!-- Navigation -->
      <!--  hedhyyyy commentyytha-->

      <ul *ngIf="profile" class="md:flex-col md:min-w-full flex flex-col list-none">
       <!--  <li class="items-center">
          <a
            [routerLink]="['/admin/dashboard']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-tv mr-2 text-sm"
              [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
            Dashboard
          </a>
        </li> -->

        
        <li class="items-center">
          <a
            [routerLink]="['/admin/opportunities']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminTables="routerLinkActive"
            style="padding: 20px;"
          >
           
            Opportunities
          </a>
        </li>

        
      </ul> 

     




      <ul *ngIf="!profile" class="md:flex-col md:min-w-full flex flex-col list-none">
         <!--<li class="items-center">
          <a
            [routerLink]="['/admin/dashboard-recruter']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-tv mr-2 text-sm"
              [ngClass]="
                adminDashboard.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
            Dashboard
          </a>
        </li>-->

        
        <li class="items-center">
          <a
            [routerLink]="['/admin/opportunities-recruter']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminTables="routerLinkActive"
            style="padding: 20px;"
          >
            
            tes Opportunités
          </a>
        </li>

        <li class="items-center">
          <a
            [routerLink]="['/admin/business']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminTables="routerLinkActive"
            style="padding: 20px;"
          >
            
           Gérer tes sociétes
          </a>
        </li>
      </ul>














      <h6 *ngIf="profile"
        class="md:min-w-full text-gray-600 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
      >
        Profile
      </h6>
      <!-- Navigation -->

      <ul *ngIf="profile" class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
        <li class="items-center">
          <a
            [routerLink]="['/admin/settings']"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #adminSettings="routerLinkActive"
            [ngClass]="
              adminSettings.isActive
                ? 'text-red-600 hover:text-red-700'
                : 'text-gray-800 hover:text-gray-600'
            "
          >
            <i
              class="fas fa-tools mr-2 text-sm"
              [ngClass]="
                adminSettings.isActive ? 'opacity-75' : 'text-gray-400'
              "
            ></i>
            Update Profile
          </a>
        </li>


        <li class="items-center">
          <a
            [routerLink]="['/admin/profile']"
            class="text-gray-800 hover:text-gray-600 text-xs uppercase py-3 font-bold block"
            style="padding: 20px;"
          >
            
            Profile Page
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">

      <li class="items-center">
        <a
          [routerLink]="['/auth/login']"
          class="text-gray-800 hover:text-gray-600 text-xs uppercase py-3 font-bold block"
        >
          <i class="fas fa-sign-out-alt text-gray-400 mr-2 text-sm"></i>
          Logout
        </a>
      </li>  
      </ul>   
    </div>
  </div>
</nav>