<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
        >
          <div class="rounded-t mb-0 px-6 py-6">
            
            <hr class="mt-6 border-b-1 border-gray-400" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class="text-black-500 text-center mb-3 font-bold">
              <strong> Créer un compte maintenant à Khaddamni </strong>
            </div>
            <form>
                
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                 Prénom
                </label>
                <input
                  type="text"

                  required 
                  name="firstname" 
                  #fname="ngModel"
                   minlength="3"

                  [(ngModel)]="firstname"
                  [ngModelOptions]="{standalone: true}"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Prénom"
                />  
                <div class="alert alert-danger" *ngIf=" fname.touched && !fname.valid">
                <div *ngIf="fname.errors.required"> Champ prénom est obligatoire </div>
                <div *ngIf="fname.errors.minlength"> Champ prénom doit être valide </div>
              </div>
              </div>
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                 Nom
                </label>
                <input
                  type="text"
                  
                  required 
                  name="lastname" 
                  #lname="ngModel"
                   minlength="3"

                  [(ngModel)]="lastname"
                  [ngModelOptions]="{standalone: true}"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Nom"
                /> 
                <div class="alert alert-danger" *ngIf=" lname.touched && !lname.valid">
                  <div *ngIf="lname.errors.required"> Champ nom est obligatoire </div>
                  <div *ngIf="lname.errors.minlength"> Champ nom doit être valide </div>
                </div>
              </div>
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Adresse Email
                </label>
                <input
                  type="email"
                  [(ngModel)]="email"

                  required 
                  name="m" 
                  #m="ngModel"
                   minlength="8"

                  [ngModelOptions]="{standalone: true}"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Adresse Email"
                />
                <div class="alert alert-danger" *ngIf=" m.touched && !m.valid">
                  <div *ngIf="m.errors.required"> Champ email est obligatoire </div>
                  <div *ngIf="m.errors.minlength"> Champ email doit être 8+ caractères</div>
                </div>
              </div>

              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Date de naissance
                </label>
                <input
                  type="date"
                  [(ngModel)]="birthdate"

                  required 
                  name="b" 
                  #b="ngModel"
                  
                  [ngModelOptions]="{standalone: true}"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Date de naissance"
                /> 
                <div class="alert alert-danger" *ngIf=" b.touched && !m.valid">
                  <div *ngIf="b.errors.required"> Champ date de naissance est obligatoire </div>
                </div>
              </div>
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Tel mobile
                </label>
                <input
                required 
                  name="t" 
                  #t="ngModel"
                  type="number"
                  minlength="8"
                  [(ngModel)]="mobile"
                  [ngModelOptions]="{standalone: true}"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Tel mobile"
                /> 
  <div class="alert alert-danger" *ngIf=" t.touched && !t.valid">
                  <div *ngIf="t.errors.required"> Champ telephone est obligatoire </div>
                  <div *ngIf="t.errors.minlength"> Champ telephone doit être  8+ caractère </div>
                </div>
              </div>

  
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Ville
                </label>
                <input
                required 
                name="v"
                #v="ngModel"
                  type="text" 
                  [(ngModel)]="ville"
                  (change)="log(v)"
                  [ngModelOptions]="{standalone: true}"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Ville"
                />
               
                <div class="alert alert-danger" *ngIf=" v.touched && !v.valid">
                                  <div *ngIf="v.errors.required"> Champ ville est obligatoire </div>
                                 </div>
                              </div>
              
  
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Mot de passe
                </label>
                <input
                required 
                name="p"
                #p="ngModel"
                (change)="log(p)"
                minlength="8"
                  type="password"
                  [(ngModel)]="password"
                  [ngModelOptions]="{standalone: true}"
                  class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                  placeholder="Mot de passe"
                />
                <div class="alert alert-danger" *ngIf=" p.touched && !p.valid">
                  <div *ngIf="p.errors.required"> Champ  mot de passe est obligatoire </div>
                  <div *ngIf="p.errors.minlength"> Champ mot de passe doit être 8+ caractère </div>
                </div>
              </div>
  
              <div>
                <label class="inline-flex items-center cursor-pointer">
                  <input
                    id="customCheckLogin"
                    type="checkbox"
                    class="form-checkbox text-gray-800 ml-1 w-5 h-5 ease-linear transition-all duration-150"
                  />
                  <span class="ml-2 text-sm font-semibold text-gray-700">
                    J'accepte 
                    <a href="javascript:void(0)" class="text-red-600">
                      les conditions d'utilisations
                    </a>
                  </span>
                </label>
              </div>
  
              <div class="text-center mt-6">
                <button
                (click)="register()"
                [disabled]="( p.valid && v.valid && t.valid && b.valid && m.valid && lname.valid && fname.valid )? false:true"
                  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                  type="button"
                >
                  Créer un compte condidat
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  