<p>listes des candidats</p>

<table class="items-center w-full bg-transparent border-collapse" >
 
  <thead>
    <tr>
      <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
        [ngClass]="
          color === 'light'
            ? 'bg-gray-100 text-gray-600 border-gray-200'
            : 'bg-gray-100 text-gray-600 border-gray-200'
        ">
        nom du candidat
      </th>
      <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
        [ngClass]="
          color === 'light'
            ? 'bg-gray-100 text-gray-600 border-gray-200'
            : 'bg-gray-100 text-gray-600 border-gray-200'
        ">
        prenom
      </th>
      <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
        [ngClass]="
          color === 'light'
            ? 'bg-gray-100 text-gray-600 border-gray-200'
            : 'bg-gray-100 text-gray-600 border-gray-200'
        ">
        numéro de téléphone
      </th>
      <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
        [ngClass]="
          color === 'light'
            ? 'bg-gray-100 text-gray-600 border-gray-200'
            : 'bg-gray-100 text-gray-600 border-gray-200'
        ">
        email
      </th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left flex items-center">

        {{name}}


      </td>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
        {{fname}}

      </td>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
        {{num}} | {{num2}}
      </td>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
        <div class="flex">
          {{email}}


        </div>
      </td>


    </tr>

  </tbody>

</table>