<div class="flex flex-wrap">
    <div class="w-full lg:w-12/12 px-4">
      <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-200 border-0"
  >
    <div class="rounded-t bg-white mb-0 px-6 py-6">
      <div class="text-center flex justify-between">
        <h2 class="text-black-800 text-xl font-bold">Nouvelle Societé</h2>
        <button
          (click)="save()"
          class="bg-blue-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
          type="button"
        >
          Sauvegarder
        </button>
      </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
      <form>
        <h6 class="text-gray-500 text-sm mt-3 mb-6 font-bold uppercase">
          Informations générales
        </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Nom
              </label>
              <input
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="business.name"
                type="text"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                value="lucky.jesse"
              />
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
               Secteur d'activités
              </label>
              <input
                type="email"
                [ngModelOptions]="{standalone: true}"
              [(ngModel)]="business.domainActivite"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              />
            </div>
          </div>
      
          
        </div>
  
        <hr class="mt-6 border-b-1 border-gray-400" />
  
  
  
  
  
  
  
  
  
  
        <h6 class="text-gray-500 text-sm mt-3 mb-6 font-bold uppercase">
           Informations de contact
        </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-12/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Addresse
              </label>
              <input
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="business.adresse"
                type="text"
  
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
              />
            </div>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Ville
              </label>
              <input
                type="email"
                [ngModelOptions]="{standalone: true}"
              [(ngModel)]="business.Ville"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                value="New York"
              />
            </div>
          </div>
         <!--  employéééééééééééééé -->
         <div class="w-full lg:w-4/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              nombre des employés
            </label>
            <input
              type="email"
              [ngModelOptions]="{standalone: true}"
            [(ngModel)]="business.nombreEmploye"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              value="nombre des employés"
            />
          </div>
        </div>
          
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                 Code Postal
              </label>
              <input
                type="text"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="business.postCode"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                value="Postal Code"
              />
            </div>
          </div>
  
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Mobile 
              </label>
              <input
                type="number"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="business.mobile"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                value="Postal Code"
              />
            </div>
          </div>
  
  
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-gray-700 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Phone number
              </label>
              <input
                type="number"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="business.tel"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                value="Postal Code"
              />
            </div>
          </div>
  
  
        </div>
  
        <hr class="mt-6 border-b-1 border-gray-400" />

      </form>
    </div>
  </div>
  
    </div>
    <!-- <div class="w-full lg:w-4/12 px-4">
      <app-card-profile></app-card-profile>
    </div> -->
  </div>
  